<h1>ClassForge {{ version }}</h1>

<p>
ClassForge is a better object system for Python 3+.
</p>

<p>
<a href="http://michaeldehaan.net">Michael DeHaan</A> created ClassForge based on his experience creating the <i>Ansible</i> and <i>Cobbler</i>. These were two non-database object-oriented applications 
that performed a large amount of serialization and deserialization. ClassForge is inspired by Django's ORM and Perl's MooseX::Declare.</p>

<p>
ClassForge is a powerful yet minimal object system that doesn't bring a full ORM along with it -- adding improved readability and maintainability to Python code while also reducing boilerplate.</p>

<p>
Features:

<ul>
<li>Improved code quality for OO Python</i>
<li>Built-in type checking</i>
<li>Elimination of boilerplate</i>
<li>Support for immutable fields</i>
<li>Support for non-nullable fields</i>
<li>Support for multiple choice inputs</i>
<li>Recursive serialization and deserialization</li>
<li>Optional custom accessors and mutators</li>
<li>User extensible field definitions</li>
<li>Multiple-inheritance without tedious usage of super()</li>
</ul>

</p>

<p>
It looks like this:

{{ begin_code(language='python') }}from classforge import Class, Field

class Demo(Class):

    a = Field(type=int, nullable=False)
    b = Field(type=int, default=25)
{{ end_code() }}

<p>
Which can be used like this:
</p>

{{ begin_code(language='python') }}def test():
    obj = Demo(b=15)
    obj.a = 25
	print(obj.a)
	print(obj.to_dict())
{{ end_code() }}

<p>
Contrast doing this without classforge:
</p>

{{ begin_code(language='python') }}class Demo(object):
  
    # TODO: add the variable here when you add a new field!
    ___SLOTS__ = [ 'a', 'b' ]

    # TODO: Alsø wik
    def __init__(self, a=None, b=25):

        # TODO: Alsø alsø wik
        self.a = a
        self.b = b

        # TODO: and here - need to add validation!
        if self.a is None:
            raise ValueError("a cannot be none")
        if not isinstance(self.a, int):
            raise ValueError("a is not an integer")
        if not isinstance(self.b, int):
            raise ValueError("b is not an integer")

    def to_dict(self):

        # TODO: also here!
        return dict(a=self.a, b=self.b)

    def from_dict(self, values):

        # TODO: implement this as well, aaaarggh!
        raise Exception("I give up")
{{ end_code() }}

<p>See {{ doc('installation') }} and {{ doc('usage') }} for how to get started, as well as more feature examples.
Ideas are welcome, see {{ doc('contributing') }} for how to engage.
</p>

<p><i>
ClassForge is MIT-licensed free software. Code on <A HREF="https://bitbucket.org/laserllama/classforge/src/master">BitBucket</A>. Docs generated by <A HREF="http://rockchisel.com">Rock Chisel</A>.
</i></p>


